

<!DOCTYPE html>
<html lang="en">
    <head>
<!--        <style>
            @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
            body {
              font-family: 'Helvetica', sans-serif;
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              color: #000;
              background: #FFFFFF;   
             }
        </style> --> 
        <meta charset="utf-8">
        <title>HDI ETC</title>
        {{ bokeh_css }}
        {{ bokeh_js }} 

    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../bootstrap-3.3.6/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../bootstrap-3.3.6/docs/examples/jumbotron-narrow.css" rel="stylesheet">

    </head>


    <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li> --> 
          </ul>
        </nav>
        <h3 class="text-muted">LUVOIR: The Large UltraViolet Optical Infrared Surveyor</h3>
        <h4 class="text-muted"><a href="http://asd.gsfc.nasa.gov/luvoir/tools/"> Back to Main Page</a></h4><br>
      </div>

      <div class="row marketing">
          <p>This is the basic ETC for spectroscopy by the LUMOS instrument.</p>
      </div>

        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}


    <div class="jumbotron">
        <p><a class="btn btn-lg btn-success" href="http://cor.gsfc.nasa.gov/studies/luvoir.php" role="button">Learn More about LUVOIR</a></p>
    </div>


    </body>



</html>
