

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url(https://fonts.googleapis.com/css?family=PT+Serif);
            body {
              font-family: 'PT Serif';
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              color: #000;
              background: #FFFFFF;   
             }
        </style>
        <meta charset="utf-8">
        <title>LUVOIR MOS</title>
        {{ bokeh_css }}
        {{ bokeh_js }}
    </head>


    <div class="container", text-align: center>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li> --> 
          </ul>
        </nav>
        <h1 class="text-muted">LUVOIR: The Large UltraViolet Optical Infrared Surveyor</h1>
      </div>

    <body>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
    </body>
</html>
